* {
    margin: 0;
    padding: 0;
}



.background-image {
    background-image: url("http://adam.test/storage/kapatax/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.login-box {
    width: 520px;
    height: 520px;
    background-color: black;
    top: 10%;
    left: 5%;
    position: absolute;
    box-sizing: border-box;
    opacity: 50%;
}

.login-logo {
    background-image: url("http://adam.test/storage/kapatax/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 130px;
}

.login-body {
    padding: 20px;
}

.login-box p {
    color: white;
    font-weight: bold;
    line-height: normal;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="email"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: white;
}

.login-box input[type="submit"]{
    border: none;
    background: #1c8adb;
    outline: none;
    height: 40px;
    font-size: 18px;
    color: white;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover{
    cursor: pointer;
    background: #39dc79;
}

.login-box a {
    text-decoration: none;
    font-size: 14px;
    color: white;
}

.login-box a:hover {
    color: #39dc79;
}